torch>=2.7
torch-geometric>=2.7
torch-scatter
torch-sparse
torch-cluster
torch-spline-conv
pyg-lib
h5py>=3.10
matplotlib>=3.8
nibabel>=5.0
numpy>=1.26,<2
scikit-learn>=1.4
scipy>=1.11
tensorboardX>=2.6
