--extra-index-url https://download.pytorch.org/whl/cu128
--find-links https://data.pyg.org/whl/torch-2.7.0+cu128.html

torch==2.7.1+cu128
pyg_lib==0.5.0+pt27cu128
torch_cluster==1.6.3+pt27cu128
torch_geometric==2.7.0
torch_scatter==2.1.2+pt27cu128
torch_sparse==0.6.18+pt27cu128
torch_spline_conv==1.2.2+pt27cu128

deepdish==0.3.7
h5py==3.16.0
matplotlib==3.10.9
nilearn==0.13.1
nibabel==5.3.2
numba==0.63.1
numpy==1.26.4
pandas==3.0.3
requests==2.34.2
scikit-learn==1.9.0
scipy==1.17.1
tables==3.11.1
tensorboardX==2.6.5
pytest==9.0.3
